<footer>
    <div class="footer-main">
        <span class="footer-logo-badge">
            <img src="/assets/accf-logo.png" alt="Aromas Community Park" class="footer-logo" width="1027" height="1201">
        </span>
        <ul>
            <li>
                <div class="footer-section">Park Location:</div>
                <div><a href="https://maps.app.goo.gl/NL674i31BbFkbejW8">300 Aromas Road, Aromas, CA 95004</a></div>
            </li>
            <li>
                <div class="footer-section">Mailing Address:</div>
                <div>PO Box 792, Aromas, CA 95004</div>
            </li>
            <li>
                <div class="footer-section">Email</div>
                <div><a href="mailto:aromassportspark@gmail.com">aromassportspark@gmail.com</a></div>
            </li>
        </ul>
    </div>
    <p class="copyright">© 2026 Aromas Community Center Foundation. Part of <a href="https://aromas.town/">Aromas.Town</a></p>
</footer>