<footer style="filter: opacity(33%);">
    <ul>
        <li>
            <div class="footer-section">Park Location:</div>
            <div><a href="https://maps.app.goo.gl/NL674i31BbFkbejW8"><pre>300 Aromas Road, Aromas, CA 95004</pre></a></div>
        </li>
        <li>
            <div class="footer-section">Mailing Address:</div>
            <div><pre>PO Box 792, Aromas, CA 95004</pre></div>
        </li>
        <li>
            <div class="footer-section">Email</div>
            <div><a href="mailto:aromassportspark@gmail.com">aromassportspark@gmail.com</a></div>
        </li>
    </ul>
    <p class="copyright">© 2026 Aromas Community Center Foundation. Part of <a href="https://aromas.town/">Aromas.Town</a></p>
</footer>